<mat-toolbar color="primary">
  <!-- der folgende div wird verborgen, wenn die Festergröße  größer wie Medium ist -->
  <!-- Durch den Click auf die 3 Streifen wird die Seitennavigation ein- oder ausgeblendet -->
  <div fxHide.gt-md>
    <button mat-icon-button (click)="OnTogglesSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">LOGO</a></div>
  <!-- oder  <div fxFlex> ergänzen, dann kann malle anderen fx-Anweisungdn einsparen -->
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigations-itmes">
      <li *ngIf="!isAuth">
        <a routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/training">Training</a>
      </li>
      <li *ngIf="isAuth">
        <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
