<mat-sidenav-container>
  <mat-sidenav role ="navigation" #sidenav>
    <!-- In sidenav-list.component.ts wird innerhalb onClose() das aufgerufen: this.closeSidenav.emit();
         Hier wird in (closeSidenav) dieser Event überwacht und die Seitennavigation geschlossen
    -->
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <!-- das funktioniert auf alle Fälle -->
    <!--
    <button (click)="sidenav.toggle()">Show Sidenav</button>
    -->

    <!-- sidenavToggle ist ein Emitter, der in der app-header-Komponente angesiedelt ist
         und hier anhand von (sidenavToggle) subscribed ist. Beim Erkennen des Events
        wird die Methode sidenav.toggle() ausgeführt
    -->
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>

